.contacts__type {
  font-size: 24px;
  color: @pink;
}

.contacts__type:hover {
  color: @dark;
  text-decoration-line: underline;
}

.contacts__type:active {
  opacity: 0.3;
  text-decoration: none;
}
