/*Block model*/
.create-post__form {
  padding-top: 20px;
  padding-bottom: 41px;
}

.create-post__filters__wrapper {
  padding-top: 42px;
  padding-bottom: 28px;
}

.create-post__buttons {
  padding-top: 38px;
}

/*Decorations*/
.create-post__form {
  background-color: @grey;
}

.create-post__image {
  content: url("@{path}/img/photo-road-mobile@1x.jpg");
}

.create-post__button {
  border: none;
  padding: 0;
}

.create-post__filters__wrapper {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1)
}
