/*Block model*/
.create-post__form {
  padding-top: 20px;
  padding-bottom: 41px;
}

.create-post__filters-wrapper {
  padding-top: 34px;
  padding-bottom: 17px;
  padding-left: 15px;
  padding-right: 27px;

  &::after {
    content: "";
    width: 320px;
    height: 2px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  }

}

.create-post__filters {
  display: flex;
  justify-content: space-around;
}

.create-post__buttons {
  padding-top: 39px;
}

.create-post__range-slider {
  margin-top: 25px;
}

/*Decorations*/
.create-post__form {
  background-color: @grey;
}

.create-post__edit {
  padding: 0;

  cursor: pointer;
  fill: @dark--opacity;
  border: none;
  &:hover {
    fill: rgba(0, 0, 0, 0.5);
  }
  &:active {
    fill: @pink;
  }
}

.create-post__button {
  &:first-child {
    margin-bottom: 12px;
  }
}

