/*Block model*/

.form__section {
  padding-top: 38px;
}

.form__achievements {
  padding-bottom: 48px;
}

.form__contacts {
  padding-top: 32px;
  padding-bottom: 13px;
}

.form__app-used {
  padding-bottom: 48px;
}

.form__emotions {
  min-height: 323px;
}

.form__input-text {
  display: block;
  margin-top: 5px;
  padding-left: 20px;
  margin-bottom: 18px;
  width: 100%;
  height: 62px;

  font-size: 18px;
  line-height: 30px;
  border: 2px solid @disabled;

  &::placeholder {
    color: @dark;
  }
  &:hover {
    border-color: @dark;
  }
  &:active,
  &:focus {
    outline: none;
    border-color: @pink;
  }
}

.form__contacts-label {
  &:last-of-type .form__contacts-input {
    margin-bottom: 0px;
  }
}

.form__label {
  &--left {
    padding-left: 23px;
  }
  &--center {
    display: block;
    text-align: center;
    margin: auto;
  }
}

.form__checkbox-label {
  margin-bottom: 42px;
}

.form__radio-label {
  margin-bottom: 38px;
}

/*Checkboxes*/

.form__box-label {
  display: block;
  margin-bottom: 52px;
  padding-left: 69px;
  &--radio {
    margin-bottom: 45px;
  }
  &:last-of-type {
    margin-bottom: 0px;
  }
}

.form__checkbox,
.form__radio {
  position: absolute;
  appearance: none;
}

.form__checkbox-new,
.form__radio-new {
  position: absolute;
  margin-top: -3px;
  margin-left: -69px;
  background-color: @light;
}

.form__checkbox-new {
  width: 39px;
  height: 39px;
  border: 2px solid @disabled;
  background-repeat: no-repeat;
  background-position: center;
}

.form__radio-new {
  width: 39px;
  height: 39px;
  border-radius: 50%;
  border: 2px solid @disabled;
  background-repeat: no-repeat;
  background-position: center;
}

.form__checkbox:checked + .form__checkbox-new {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%0A%23d22856' x='0px' y='0px' width='21.698px' height='16.09px' viewBox='-82.357 4.875 21.698 16.09' enable-background='new -82.357 4.875 21.698 16.09' xml:space='preserve'%3E%3Cpath d='M-60.953,5.167c-0.391-0.391-1.023-0.391-1.414,0L-75.75,18.551l-4.9-4.9c-0.391-0.391-1.023-0.391-1.414,0 s-0.391,1.023,0,1.414l5.607,5.607c0.195,0.195,0.451,0.293,0.707,0.293s0.512-0.098,0.707-0.293l14.09-14.0 C-60.562,6.191-60.562,5.558-60.953,5.167z'/%3E%3C/svg%3E");
}

.form__radio:checked + .form__radio-new::before {
  position: absolute;
  top: 10px;
  left: 10px;
  content: "";
  width: 15px;
  height: 15px;
  background-color: @pink;
  border-radius: 50%;
}

.form__checkbox:hover + .form__checkbox-new,
.form__radio:hover + .form__radio-new {
  border-color: @dark;
}

.form__checkbox:focus + .form__checkbox-new,
.form__radio:focus + .form__radio-new {
  box-shadow: 1px 1px 4px 0px @pink;
}

.form__checkbox:active + .form__checkbox-new,
.form__radio:active + .form__radio-new {
  border-color: @pink;
}

/*Checkboxes End*/

.form__textarea {
  margin-top: 16px;
  padding-top: 14px;
  min-height: 201px;

  resize: none;
}

.form__required {
  margin-top: 39px;
  padding-bottom: 17px;
  text-align: center;
  text-transform: uppercase;

  &::before {
    content: "*";
    color: @pink;
  }
}

/*Decorations*/
.form__achievements {
  background-color: @grey;
}

.form__app-used {
  background-color: @grey;
}

.form__label {
  line-height: 30px;
  color: @pink;
  text-transform: uppercase;
  &--left {
    line-height: 30px;
  }
  &--center {
    line-height: 18px;
  }
}

.form__box-label {
  font-size: 18px;
  line-height: 30px;
}

