/*Block model*/

.form__achievements {
  padding: 41px 0px 39px 0px;
}

.form__app-used {
  padding: 41px 0px 39px 0px;
}

.form__input-text {
  display: block;
  padding-left: 20px;
  margin-bottom: 15px;
}

.form__label {
  &--left {
    padding-left: 21px;
  }
  &--center {
    display: block;
    text-align: center;
    margin: auto;
  }
}

.form__box-label {
  display: block;
  margin-top: 42px;
  margin-bottom: 5px;
}

.form__emotions {
  min-height: 323px;
  padding-top: 41px;
  padding-bottom: 52px;
}

.form__textarea {
  margin-top: 19px;
  padding-top: 23px;
}

.form__required {
  margin-top: 46px;
  text-align: center;
}

/*Decorations*/
.form__achievements {
  background-color: @grey;
}

.form__app-used {
  background-color: @grey;
}

.form__label {
  line-height: 30px;
  color: @pink;
  text-transform: uppercase;
  &--left {
    line-height: 30px;
  }
  &--center {
    line-height: 18px;
  }
}

.form__input-text {
  width: 100%;
  height: 59px;
  font-size: 18px;
  line-height: 30px;
  border: 2px solid @disabled;

  &::placeholder {
    color: @dark;
  }
}

.form__box-label {
  font-size: 18px;
  line-height: 30px;
}

.form__textarea {
  resize: none;
  min-height: 197px;
}

.form__required {
  &::before {
    content: "*";
    color: @pink;
  }
}
