/*Positioning*/

.header__top-bar {
  position: relative;
  z-index: 100;
}

/*Block model*/
.header {
  display: flex;
  flex-direction: column;
}

.header__top-bar {
  display: flex;
  justify-content: space-between;
  min-height: 69px;
}

.header__logo__wrapper {
  padding-top: 22px;
}

.header__toggle__wrapper {
  padding-top: 21px;
}

@media (min-width: @tablet-width) {
  .header__top-bar {
    min-height: 110px;
  }

  .header__logo__wrapper {
    padding-top: 27px;
  }

  .header__toggle__wrapper {
    padding-top: 44px;
  }
}

@media (min-width: @desktop-width) {
  .header__toggle__wrapper {
    display: none;
  }
}

/* Decorations */
.header__wrapper {
  background-color: @dark--opacity;
  color: @light;
}

.header__logo {
  fill: @light;
}

.header__logo:hover {
  fill: @pink;
}

.header__logo:active {
  fill: @light;
  opacity: 0.3;
}

.header__toggle {
  background-color: inherit;
  border: none;
  fill: @light;
  line-height: normal;
  &:hover {
    fill: @pink;
  }
  &:active {
    fill: @pink--opacity;
  }
}
