/*Positioning*/

/*Block model*/
.header__wrapper {
  display: flex;
  flex-direction: column;
}

.header__top-bar {
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  min-height: 69px;
}

.header__logo__wrapper {
  padding-top: 22px;
}

.header__toggle__wrapper {
  padding-top: 21px;
}

@media (min-width: @tablet-width) {
  .header__top-bar {
    width: 660px;
    min-height: 110px;
  }

  .header__logo__wrapper {
    padding-top: 27px;
  }

  .header__toggle__wrapper {
    padding-top: 44px;
  }
}

@media (min-width: @desktop-width) {
  .header__toggle__wrapper {
    display: none;
  }

  .header__top-bar {
    width: auto;
    padding: 0;
    margin: 0;
  }

  .header__wrapper {
    flex-direction: row;
    width: 940px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
  }
}

/* Decorations */
.header {
  background-color: @dark--opacity;
  color: @light;
}

.header__logo {
  fill: @light;
}

.header__logo:hover {
  fill: @pink;
}

.header__logo:active {
  fill: @light;
  opacity: 0.3;
}

.header__toggle {
  background-color: inherit;
  border: none;
  fill: @light;
  line-height: normal;
  &:hover {
    fill: @pink;
  }
  &:active {
    fill: @pink--opacity;
  }
}
