/*Positioning*/
.main__background {
  position: relative;
  z-index: 0;
}

.main__background__hand {
  position: absolute;
  left: 0;
  right: 62px;
  top: 176px;
  width: 258px;
  margin: auto;
}

.main__title__wrapper {
  position: relative;
  z-index: 100;
}

.main__os {
  position: relative;
  z-index: 100;
}

/*Block model*/
.main__background {
  display: flex;
  flex-direction: column;
  min-height: 237px;
  margin-top: -66px;
  padding-top: 66px;
  &--index {
    min-height: 733px;
  }
}

.main__title__wrapper {
  margin: auto;
  display: flex;
  width: 280px;
  margin-top: 23px;
}

.main__title {
  text-align: center;
}

.main__os {
  margin-top: auto;
}

@media (min-width: @tablet-width) {
  .main__background {
    min-height: 440px;
    margin-top: -110px;
    padding-top: 110px;
    &--index {
      min-height: 729px;
    }
  }

  .main__title__wrapper {
    width: 616px;
    margin: 0 auto;
    justify-content: center;
    margin-top: 81px;
    &--index {
      margin-top: 103px;
      justify-content: flex-start;
    }
  }

  .main__title {
    &--index {
      margin-left: 58px;
      width: 200px;
      display: flex;
    }
  }

  .main__os {
    width: 616px;
    margin: 0 auto;
  }

  .main__background__hand {
    top: auto;
    bottom: -7px;
  }
}

@media (min-width: @desktop-width) {
  .main__background {
    min-height: 394px;
    &--index {
      min-height: 854px;
    }
  }
  .main__title__wrapper {
    &--index{
      width: 940px;
    }
  }
  .main__os {
    width: 940px;
  }
}

/*Decorations*/

.main__background {
  background-color: @dark;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top;
  color: @light;
}

.main__title {
  font-size: 24px;
  line-height: 30px;
}

.main__os {
  background-color: #17212d;
}

@media (min-width: @tablet-width) {
  .main__title {
    font-size: 50px;
    line-height: normal;
    &--index {
      font-size: 40px;
    }
  }

  .main__os {
    background-color: transparent;
  }
}

@media (min-width: @desktop-width) {
  .main__title {
    font-family: "OpenSans-Light", Arial, sans-serif;
  }
}


