/*Positioning*/

/*Block model*/
.main__background {
  //display: flex;
  //min-height: 475px;
  //flex-direction: column;
  //margin-top: -69px;
  //align-items: center;
  /*&::after {
    content: url("../img/iphone-hand-mobile@1x.png");
    margin-top: auto;
  }*/
}

/*.main__title {
  display: flex;
  margin-top: 69px;
  text-align: center;
}*/

/*Decoration*/

.main__background {
  background-color: @dark;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.main__title {
  color: @light;
  font-size: 24px;
}
