.map {
  height: 200px;
  width: 320px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.map__bg-triangle-white-footer {
  position: absolute;
  width: 100%;
  z-index: 100;
  fill: @light;
}

.map__image {
  position: absolute;
  bottom: 0px;
}
