/*Positioning*/


/*Block model*/
.social__list {
  display: flex;
  width: 170px;
  justify-content: space-between;
}

.social__link {
  display: flex;
}

.social__icon {
  margin: auto;
}

/*Decorations*/
.social__icon {
  fill: @pink;
  &--youtube {
    margin-left: 14px;
  }
}

.social__link {
  border: solid 3px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 46px;
  height: 46px;
}
